.closebutton {
  width: 16px;
  height: 16px;
  cursor: pointer;
  color: gray;
  margin-right: 10px;
}

.closebutton:hover {
    color: darkslategray;
}

.headerbutton {
    width: 16px;
    height: 16px;
    color: gray;
    cursor: grab;
    display: flex;
    width: 100%;
    padding-bottom: 3px;
    font-family: sans-serif;
}

.desktopApps {
    padding: 7px 18px 7px 18px;
    background-color: #1d2e28;
    border-radius: 20px;
    width: fit-content;
    position: absolute;
    color: navajowhite;
    font-weight: bold;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
}

.window {
    background-color: #1d2e28;
    color: gray;
    /* border: solid seagreen 2mm; */
    border-radius: 20px;
    position: absolute;
    width: fit-content;
    padding: 10px;
    font-family: sans-serif;
}

.windowinhalt {
    margin: 6px;
    background-color: #518170;
    border-radius: 20px;
    padding: 5px;
    color: black;
}

.numpad {
    background-color: mediumspringgreen;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.sidebarcontent {
    padding-bottom: 10px;
}

.unsuspiciousbutton{
    width: 150px;
    height: 150px;
    cursor: pointer;
    background-color: red;
    border-radius: 100px;
    border: solid 3px black;
    margin-left: 6px;
}

.unsuspiciousbutton:hover{
    background-color: #9f0000;
}
